.body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 40px;
}
.movieContainer{
    width: 25%;
    height: 100vh;
    margin: 30px;
    padding: 20px;
    background-color: #fee;
}
.navbar{
    background-color: #007bff;
    display: flex;
    justify-content: space-around;
}
button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
.navbar>button{
    height: 10vh;
}
button:hover{
    background-color: red;
}
input,select{
    width: 200px;
    padding: 10px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f1f1f1;
}